body{
    font-family:'Segoe UI',sans-serif;
    background:#eef2f7;
    margin:0;
    padding:20px;
}

.container{
    max-width:900px;
    margin:auto;
    text-align:center;
}

h2{
    margin-bottom:10px;
    font-size:34px;
}

h1{
    font-size:100px;
    margin:10px 0 25px 0;
    font-weight:700;
}

/* Status Card */

.info{
    background:white;
    border-radius:20px;
    padding:25px;
    margin:20px 0;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.info p{
    font-size:26px;
    margin:15px 0;
}

/* Telemetry Card */

.telemetry{
    background:white;
    border-radius:20px;
    padding:20px;
    margin:20px 0;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.telemetry p{
    font-size:22px;
    margin:12px 0;
}

/* Control Buttons */

.buttons{
    background:white;
    border-radius:20px;
    padding:25px;
    margin:20px 0;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

button{
    width:160px;
    padding:16px;
    margin:10px;
    border:none;
    border-radius:14px;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    background:#2563eb;
    color:white;
    transition:0.2s;
}

button:hover{
    transform:translateY(-2px);
}

/* Chart Card */

#moistureChart{
    width:100%;
    height:400px !important;
    background:white;
    border-radius:20px;
    padding:20px;
    box-sizing:border-box;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    margin-bottom:25px;
}

/* Live Status */

#statusBox{
    background:white;
    border-radius:20px;
    padding:20px;
    text-align:left;
    white-space:pre-wrap;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    font-size:18px;
}

/* Mobile */

@media(max-width:768px){

    h1{
        font-size:70px;
    }

    button{
        width:120px;
        font-size:16px;
    }

    .info p,
    .telemetry p{
        font-size:18px;
    }

}
#samplesTable{
    width:100%;
    background:white;
    border-radius:16px;
    border-collapse:collapse;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    margin-bottom:20px;
}

#samplesTable th{
    background:#f3f4f6;
    padding:12px;
    font-size:16px;
}

#samplesTable td{
    padding:10px;
    border-top:1px solid #e5e7eb;
}
